<?php
    $users = $this->allUsers ;
?>

<table width="600">
    <caption>Users - <a href="/admin/user/add">Add User</a></caption>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Name</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    <?php foreach($users as $user):?>
        <tr>
            <td align="center"><?= $user["userId"]?></td>
            <td align="center"><?= $user["username"]?></td>
            <td align="center"><?= $user["firstName"]?> <?= $user["lastName"]?></td>
            <td align="center"><?= $user["roleName"]?></td>
            <td align="center"><?= $this->formActions("user" , $user["userId"])?></td>
        </tr>
    <?php endforeach;?>
</table>