<?php
    $roles = $this->allRoles;
?>

<table width="600">
    <caption>Roles - <a href="/admin/role/add">Add Role</a></caption>
    <tr>
        <th>ID</th>
        <th>Role Name</th>
        <th>Actions</th>
    </tr>
    <?php foreach($roles as $role): ?>
    <tr>
        <td align="center"><?= $role->getRoleId() ?></td>
        <td align="center"><?= $role->getRoleName()?></td>
        <td align="center"><?= $this->formActions("role" , $role->getRoleId())?></td>
    </tr>
    <?php endforeach;?>
</table>