<div id="menu" class="leftModule">
    <h3>Admin Menu</h3>
    <ul>
        <?php
        $auth = My_Auth::getInstance();
        if ($auth->isLogged()):
            $acl = My_Acl::getInstance(My_Acl::ADMIN_MODULE);
            $resourceModel = new Admin_Model_Resource();
            $adminResources = $resourceModel->getAllResources("ADMIN");
            foreach ($adminResources as $r) :
                $name = $r->getResourceName();
                if ($acl->isAllowed($r->getResourceName(), "index")) :
                    $url = $this->url(
                                    array(
                                "controller" => $r->getResourceName(),
                                "action" => "index",
                                "module" => "admin"), '', true, true);
                    ?>
                    <li>
                        <a href="<?= $url ?>">
                            <?= ucwords(str_replace("-", " ", $name))?>
                        </a>
                    </li>
                    <?php
                endif;
            endforeach;
        else :
            $url = $this->url(
                            array(
                        "controller" => "index",
                        "action" => "index",
                        "module" => "admin"), '', true, true);
            ?>
            <li>
                <a href="<?= $url ?>">
                    Home
                </a>
            </li>
        <? endif; ?>
    </ul>
</div>
<?php
echo $this->render("user.phtml");
?>