<?php
    $actions = $this->allActions ;
    $resourceView = $this->resource;
?>
<table width="600">
    <?php if($resourceView): ?>
    <caption><?= ucfirst($resourceView)?> Actions - <a href="/admin/action/add">Add Action</a> - <a href="/admin/action">View All Actions</a></caption>
    <?php else :?>
    <caption>Actions - <a href="/admin/action/add">Add Action</a></caption>
    <?php endif;?>
    <tr>
        <th>ID</th>
        <th>Action Name</th>
        <th>Resource</th>
        <th>Actions</th>
    </tr>
    <?php foreach($actions as $action):?>
        <tr>
            <td align="center"><?= $action["actionId"]?></td>
            <td align="center"><?= $action["actionName"]?></td>
            <?php if($resourceView): ?>
            <td align="center"><?= $action["resourceName"]?></td>
            <?php else :?>
            <td align="center"><a href="
                <?= 
                    $this->url(array(
                      "module" => "admin",
                      "controller" => "action",
                      "action" => "index",
                      "resource" => $action["resourceName"]
                    ) , '' , true , true)
                ?>"><?= $action["resourceName"]?></a>
            </td>
            <?php endif;?>
            <td align="center"><?= $this->formActions("action" , $action["actionId"])?></td>
        </tr>
    <?php endforeach; ?>
</table>