<div id="message">
<?php
$message = $this->message ;
switch ($message) {
    case "1":
        echo "<h2>Login Successfull</h2>";
        break;
    case 2:
        echo "<h2>You are not authorised to view this page .</h2>";
        break;        
}
?>
</div>