<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <?= $this->headLink()->appendStylesheet("/css/default/style.css"); ?>
        <?= $this->headScript()->prependFile("/js/jquery.min.js"); ?>
    </head>
    <body>
        <div id="wrapper">
            <div id="left">
                <?php
                    echo $this->render("left.phtml");
                ?>
            </div>
            <div id="content">
                <?php
                    echo $this->layout()->content; 
                ?>
            </div>
            <div class="clear"></div>
        </div>
    </body>
</html>
