<?php
$auth = My_Auth::getInstance();
$userInfo = $auth->getInfo();
if ($auth->isLogged()):
    ?>
    Welcome , <?= $userInfo->username?><br />
    <a href="<?php
    echo $this->url(array(
        "module" => "default",
        "controller" => "sign",
        "action" => "out"
            ), '', true, true)
    ?>">Sign out</a>
<?php endif; ?>
