body,td,th,input {
    font-family: Verdana, sans-serif;
    font-size: small;
}
.clear{
    clear: both;
}
.floatLeft{
    float : left;
}
.floatRight{
    float : right;
}
/********** Wrapper **********/
#wrapper{
    width: 1000px;
    margin: 0 auto;
}
#left{
    width: 200px;
    float: left;
}
#content {
    width: 700px;
    margin: 0 50px;
    float: right;
}


/********** Form **********/

.form {
    width: 600px;
}

.form dl dt label{
    font-weight: bold;
}