<?php
    $resources = $this->allResources ;
?>

<table width="600">
    <caption>Resources - <a href="/admin/resource/add">Add Resource</a></caption>
    <tr>
        <th>ID</th>
        <th>Resource Name</th>
        <th>Resource Module</th>
        <th>Actions</th>
    </tr>
    <?php foreach($resources as $resource):?>
        <tr>
            <td align="center"><?= $resource->getResourceId()?></td>
            <td align="center"><?= $resource->getResourceName()?></td> 
            <td align="center"><?= $resource->getResourceModule() ?></td>
            <td align="center"><?= $this->formActions("resource" , $resource->getResourceId())?></td>
        </tr>
    <?php endforeach;?>
</table>